@media (min-width: 320px) and (max-width: 370px){
    .mainRect{
        min-width: 13vw;
        max-width: 13vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 87vw;
        max-width: 87vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 13%;
     
    }  
}

@media (min-width: 371px) and (max-width: 389px){
    .mainRect{
        min-width: 13vw;
        max-width: 13vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 87vw;
        max-width: 87vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 13%;
 
    }  
}

@media (min-width: 390px) and (max-width: 410px){
    .mainRect{
        min-width: 14vw;
        max-width: 14vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 86vw;
        max-width: 86vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 14%;
     
    }  
}

@media (min-width: 410px) and (max-width: 539px){
    .mainRect{
        min-width: 14vw;
        max-width: 14vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 86vw;
        max-width: 86vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 14%;
       
    }  
}

@media (min-width: 540px) and (max-width: 760px){
    .mainRect{
        min-width: 9vw;
        max-width: 9vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 91vw;
        max-width: 91vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 9%;
       
    }  
}   

@media (min-width: 761px) and (max-width: 819px){
    .mainRect{
        min-width: 9vw;
        max-width: 9vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 91vw;
        max-width: 91vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 9%;
       
    }  
}


@media (min-width: 820px) and (max-width: 910px){
    .mainRect{
        min-width: 9vw;
        max-width: 9vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 91vw;
        max-width: 91vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 9%;
       
    }  
}


@media (min-width: 911px) and (max-width: 1020px){
    .mainRect{
        min-width: 9vw;
        max-width: 9vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 91vw;
        max-width: 91vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 9%;
       
    }  
}


@media (min-width: 1021px) and (max-width: 1260px){
    .mainRect{
        min-width: 5.5vw;
        max-width: 5.5vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 94.5vw;
        max-width: 94.5vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 5.5%;
    
    }  
}

@media (min-width: 1261px) and (max-width: 1360px){
    .mainRect{
        min-width: 4vw;
        max-width: 4vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 96vw;
        max-width: 96vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 4%;
        
    } 
}

@media (min-width: 1361px) and (max-width: 1900px){
    .mainRect{
        min-width: 4vw;
        max-width: 4vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 96vw;
        max-width: 96vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 4%;
        
    } 
}

@media (min-width: 1901px) and (max-width: 5000px){
    .mainRect{
        min-width: 4vw;
        max-width: 4vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: rgb(152, 28, 253);
    }
    .sidePageSize{
        min-width: 96vw;
        max-width: 96vw;
        min-height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 4%;
        
    } 
}

.tooltip-inner{
    background-color: rgb(152, 28, 253) !important;
    color: #7bf7ff ;
}


.tooltip-arrow{
    display: none !important;
}

.tooltip.right .tooltip-arrow {
    display:none !important; 
  }



.skillDetails{
    display: flex;
    min-width: 40vw;
    max-width: 40vw;
    min-height: 45vh;
    max-height: 45vh;
    border: 0.15rem solid rgb(152, 28, 253);
    position: relative;
    top: 15vh !important;
    left: 13%;
    border-radius: 0.7rem;
    background-color: #f5f5f6;
    z-index: 400;
    padding: 2rem;
}

.introPageImgBox{
    display: flex;
    min-width: 27vw;
    max-width: 27vw;
    min-height: 65vh;
    max-height: 65vh;
   
    position: relative;
    top: -14vh !important;
    left: 58%;
   
    z-index: 300;
}

.firstBall{
    display: flex;
    min-width: 16vw;
    max-width: 16vw;
    min-height: 16vw;
    max-height: 16vw;

    position: relative;
    top: -48vh !important;
    left: 4%;

    z-index: 200;

    background: linear-gradient(45deg, rgb(152, 28, 253),rgb(193, 118, 255), rgb(224, 193, 250));
    -webkit-clip-path: circle(60.0% at 50% 10%);
    clip-path: circle(50.0% at 50% 50%);

}

.secondBall{

    display: flex;
    min-width: 10vw;
    max-width: 10vw;
    min-height: 10vw;
    max-height: 10vw;

    position: relative;
    top: -131vh !important;
    left: 69%;

    z-index: 100;

    background: linear-gradient(45deg, rgb(152, 28, 253),rgb(193, 118, 255), rgb(224, 193, 250));
    -webkit-clip-path: circle(60.0% at 50% 10%);
    clip-path: circle(50.0% at 50% 50%);

}

